/Actividad 1/nbproject/private/
/Actividad 1/build/
/p1/nbproject/private/
/c3/nbproject/private/
/Actividad ll/nbproject/private/
/p1/build/
/p1/dist/
/Actividad 2/nbproject/private/
/Actividad 2/build/
/actividadenclasell/nbproject/private/
/Prueba corta l/nbproject/private/
/mavenproject1/target/
/Prueba corta l/build/
/Prueba corta l/dist/
/ApiPublic/nbproject/private/
/ApiPublica/nbproject/private/
/ApiPublica/build/
/ApiPublica/dist/
